<div>
  <h1>{{TutorialName}}</h1>
  <div>
    <ul>
      <li>{{appList[0]  | lowercase}}</li>
      <li>{{appList[1]  | uppercase}}</li>
      <li>{{appList[2]  | lowercase}}</li>
    </ul>
  </div>
  <div>
    <input (input) = "num = $event.target.value" placeholder="Enter number">
    <input (input) = "mul = $event.target.value" placeholder="Enter multipler">
  </div>
  <div>
    Status is {{status}}
    <button (click) = "clicked()">Click Me!</button>
    <div>
    {{num}} * {{mul}} =
    <p>Multiplier: {{num | Multiplier: mul}}</p>
</div>
  </div>
</div>
<!-- <test></test> -->
